/* Variables */

:root {
  /* --main-color: #c40018; */
  --main-color: rgb(102, 0, 0);
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.2rem;
  color: #333;
  background-size: cover;
  background-position: center;
  font-family: "Dancing Script";
}

.bg-image {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: url(../img/backgrounds/8.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(2px);
}

.bg-image2 {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--main-color);
  flex-grow: 0;
  max-height: 8rem;
  box-shadow: inset 0 -2px 0 white, inset 0 2px 0 white;
  z-index: 10;
}

.desktop-nav {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.desktop-nav > ul {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-link-btn {
  background: white;
  padding: 8px;
  border: 2px solid white;
  color: #c40018;
  font-family: Amita;
  transition: all 0.2s ease-in-out;
}

.nav-link-btn:hover {
  background: var(--main-color);
  border: 2px solid white;
  color: white;
}

main {
  flex-grow: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
}

.landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 600px;
  max-width: 90vw;
  margin: 0 auto;
  border-right: 5px solid white;
  border-left: 5px solid white;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.landing-text > h1 {
  font-size: 4rem;
  margin: 0;
}

.landing-text > aside {
  font-family: Amita;
}

.main-logo-container {
  width: 10rem;
}

.logo-image {
  width: 100%;
  height: auto;
}

footer {
  background: var(--main-color);
  flex-grow: 0.2;
  max-height: 60px;
  box-shadow: inset 0 2px 0 white;
}

.footer-content {
  max-width: 600px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #ddd;
  overflow: hidden;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-right {
  display: flex;
  margin-top: 15px;
}

.sm-logo-holder {
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sm-logo-holder:hover {
  transform: scale(1.1);
}

.mobile-nav,
.menu-button {
  display: none;
}

.menu-button {
  height: 40px;
  width: 40px;
  background: orange;
  border-radius: 50%;
  cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 550px) {
  .nav-item {
    display: none;
  }
  .menu-button {
    display: block;
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
  }
  .menu-button.square {
    transform: rotate(180deg);
    border-radius: 0%;
  }
  .mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80vh;
    max-height: 350px;
    z-index: 999;
    transform: translateY(-350px);
    transition: all 0.2s ease-in-out;
  }
  .mobile-nav.is-open {
    transform: translateY(0px);
  }
  .mobile-nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    background: var(--main-color);
  }
  .mobile-nav-item {
    margin: 10px;
  }
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1000px;
  height: 1000px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.gallery-container {
  margin: 30px auto;
}

img {
  margin-bottom: -4px;
  width: 100px;
  height: 600px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 20px 16px;
  font-size: 30px;
  color: white;
}

.gal {
  margin-top: 0px;
}

/* Menu */

#lunch-menu-bar-text {
  color: rgb(141, 0, 17);
  font-size: 30px;
  padding: 4px 0px 0px 0px;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-top: 35px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
}

#dinner-menu-bar-text {
  color: rgb(141, 0, 17);
  font-size: 30px;
  padding: 4px 0px 0px 0px;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-top: 35px;
  margin-right: -50%;
  margin-left: -280px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
}

#happy-hour-bar-text {
  color: rgb(141, 0, 17);
  font-size: 30px;
  padding: 4px 0px 0px 0px;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-top: 35px;
  margin-right: -50%;
  margin-left: 275px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
}

#when-available-lunch {
  font-size: 15px;
  color: #666666;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  margin-top: 60px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
}

#when-available-dinner {
  font-size: 15px;
  color: #666666;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-left: -279px;
  margin-right: -50%;
  margin-top: 60px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
}

#when-available-happy {
  font-size: 15px;
  color: #666666;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-left: 277px;
  margin-right: -50%;
  margin-top: 60px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
}

#beer-bar-text {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 100;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-top: -12px;
  margin-left: 30px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#first-solid-bar {
  background-color: #fff;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: 33px;
  height: 1600px;
}

#lunch-menu {
  width: 1090px;
  padding: 2px;
  margin: 0;
  position: absolute;
  margin-top: 209px;
  left: 50%;
  margin-left: -13px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#menu {
  color: #333;
  font-size: 18px;
  display: inline-block;
  margin-top: 15px;
  padding: 11px 5px 0px 5px;
  width: 312px;
  margin-left: 40px;
  float: left;
}

#menu-item-name {
  float: left;
}

#menu-price {
  display: inline;
  float: right;
  margin-top: 0px;
}

#menu-description {
  font-size: 14px;
  margin-top: 1px;
  margin-left: 0px;
  float: left;
}

#section-price-info {
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-size: 14px;
  margin-left: 32px;
  margin-top: 11px;
  margin-bottom: -1px;
}

#starters-text {
  color: rgb(141, 0, 17);
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  display: block-inline;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  margin-left: 16px;
  margin-top: -1px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#soups-bar-text {
  color: rgb(141, 0, 17);
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  display: block-inline;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  margin-left: 16px;
  margin-top: -2px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#soups-menu {
  width: 1090px;
  padding: 2px;
  margin: 0;
  position: absolute;
  margin-top: 410px;
  left: 50%;
  margin-left: -15px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#soup-description {
  font-size: 14px;
  margin-top: 1px;
  margin-left: 0px;
  float: left;
}

#salads-bar-text {
  color: rgb(141, 0, 17);
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  display: block-inline;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  margin-left: 16px;
  margin-top: -13px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#sandwiches-bar-text {
  color: rgb(141, 0, 17);
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  display: block-inline;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  margin-left: 16px;
  margin-top: -13px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#salads-menu {
  width: 1090px;
  padding: 2px;
  margin: 0;
  position: absolute;
  margin-top: 715px;
  left: 50%;
  margin-left: -15px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#salad-description {
  font-size: 14px;
  margin-top: 1px;
  margin-left: 0px;
  float: left;
}

#sandwiches-menu {
  width: 1090px;
  padding: 2px;
  margin: 0;
  position: absolute;
  margin-top: 1250px;
  left: 50%;
  margin-left: -15px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

@media (max-width: 1100px) {
  #salad-description {
    font-size: 14px;
    margin-top: -12px;
  }
}

/* Menu End */
